./idea/**/*
./idea/*

**/idea/**/*
projects/ants/tests/__pycache__/*
projects/ants/tests/**/*.py
projects/ants/tests/*.py
projects/ants/tests/00.py
projects/ants/.ok_history
projects/ants/.ok_messages
projects/ants/.idea/**/*
projects/ants/ants_diagram.pdf
projects/ants/__pycache__/*
projects/**/.ok_history
projects/**/.ok_messages
projects/**/__pycache__
projects/**/.ok_storage
projects/**/.ok_history
projects/project1_hog/tests
.vscode